<h3>Order from Simple Shop has been sent</h3>
<p>
  This is just notification
</p>
<table>
  <tr>
    <th colspan="2">Count</th>
    <th>Description</th>
  </tr>
  <%= render @order.line_items -%>
</table>