/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color: white;

      table {
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}

.simple_shop_form {
  fieldset {
    background: #efe;
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}

table.SimpleTable {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 1000px;
  min-width: 200px;
  height: 100%;
  margin: 5px;
  padding: 5px;
  border: 2px solid #228822;
  box-shadow: 0 1px 5px #4f497a;

  th {
    border-width: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
    color: #ffffff;
    padding: 5px;
    //http://www.colorzilla.com/gradient-editor/
    background: #39991e; /* Old browsers */
    background: -moz-linear-gradient(top, #39991e 0%, #056b00 50%, #39991e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #39991e), color-stop(50%, #056b00), color-stop(100%, #39991e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #39991e 0%, #056b00 50%, #39991e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #39991e 0%, #056b00 50%, #39991e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #39991e 0%, #056b00 50%, #39991e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #39991e 0%, #056b00 50%, #39991e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39991e', endColorstr='#39991e', GradientType=0); /* IE6-9 */
  }

  td {
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: gray;
    background-color: white;
  }

  .actions {
    width: 10em;
  }
}