// Place all the styles related to the Recommendeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sortable {
  width: 50em;
  padding: 0px;
  list-style: none;

  .ui-state-highlight {
    background-color: #DADADA;
    height: 8em;
  }

  li {
    height: 9em;
    cursor: pointer;
    padding: 3px;
    position: relative;
  }

  .list_image {
    height: 8em;
    position: absolute;
    left: 0;
    top: 0;
  }

  span {
    position: absolute;
    top: 3px;
    left: 100px;
  }

  a {
    position: absolute;
    display: block;
    top: 90px;
    left: 100px;
  }
}