// Place all the styles related to the Recommendeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sortable {
  width: 50em;
  padding: 0px;
  list-style: none;

  .ui-state-highlight {
    background-color: #DADADA;
    height: 8em;
  }

  li {
    height: 9em;
    cursor: pointer;
    padding: 3px;
    margin: 9px;
    position: relative;
    border: 1px solid lightGrey;
    background-color: #99cc99;
    box-shadow: 0 1px 4px #4F497A;
  }

  .list_image {
    height: 8em;
    position: absolute;
    left: 8px;
    top: 8px;
    border: 1px solid lightGrey;
  }

  .title {
    position: absolute;
    top: 3px;
    left: 8em;
    font-weight: bold;
  }

  .description {
    position: absolute;
    top: 2em;
    left: 8em;
    height: 2em;
  }

  a {
    position: absolute;
    display: block;
    top: 8em;
    left: 8em;
  }
}

.recommended_item {
  position: relative;
  margin: 8px;
  width: 16em;
  height: 20em;
  border: 1px solid lightGrey;
  background-color: #99cc99;
  box-shadow: 0 1px 4px #4F497A;

  .list_image {
    height: 14em;
    position: absolute;
    left: 1em;
    top: 3em;
    border: 1px solid lightGrey;
  }

  .title {
    position: absolute;
    top: 1em;
    left: 0.5em;
    font-weight: bold;
  }

  .rec_add_to_cart {
    position: absolute;
    top: 17em;
    left: 6em;
  }

  .price {
    position: absolute;
    top: 17.5em;
    left: 1em;
  }
}